<div class="container">
    <div class="col-sm-6  offset-sm-3 small">
        <h3>Faça login primeiro</h3>
        
        <form #f="ngForm" (ngSubmit)="formSubmit(f)" class="form">
            <mat-form-field class="w-100 my-3" appearance="outline">
                <mat-label>Email</mat-label>
                <input type="text" matInput [(ngModel)]="email" name="email" placeholder="e-mail" required=""/>
                <mat-hint>Informe seu email !</mat-hint>
            </mat-form-field>

            <mat-form-field class="w-100 mb-3" appearance="outline">
                <mat-label>Senha</mat-label>
                <input type="password" matInput [(ngModel)]="senha" name="senha" placeholder="senha" required=""/>
                <mat-hint>Informe sua senha !</mat-hint>
            </mat-form-field>

			<div class="d-flex">
				<button type="submit" mat-raised-button color="primary">Login</button>
				<p class="center-text" >Novo? <a routerLink="/cadastro">Cadastrar</a></p>
			</div>
        </form>
    </div>
</div>