<p>
    <mat-toolbar color="primary" >
		<div *ngIf="this.route !== '/login'" >
			<button mat-button [matMenuTriggerFor]="menu">
				<mat-icon>menu</mat-icon>
			</button>
			<mat-menu #menu="matMenu">
				<button (click)="goTo('/home')" mat-menu-item>Home</button>
				<button (click)="goTo('/veiculos')" mat-menu-item>Meus Veículos</button>
				<button (click)="goTo('/cadastro-veiculos')" mat-menu-item>Adicionar Veículos</button>
			</mat-menu>
		</div>
        
        <span>Gerencimento de Veículos</span>
        <span class="nav-spacer"></span>

        <div *ngIf="this.route !== '/login'" >
            <button (click)="logout()" mat-icon-button >
                <mat-icon>logout</mat-icon>
            </button>
        </div>

    </mat-toolbar>
</p>

<app-alerta></app-alerta>

<router-outlet></router-outlet>